@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&family=Sixtyfour+Convergence&display=swap');

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: "Rajdhani", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f5f5;
  min-height: 100vh;
  min-width: 100vw;
}

h1 {
  font-family: 'Sixtyfour Convergence', sans-serif;
  font-weight: 400;
}

/* Mobile Styles */
@media (max-width: 600px) {
  .navbar-button {
    font-size: 1rem; /* Smaller size for mobile */
    padding: 4px 8px; /* Adjust padding for mobile */
  }

  .navbar-title {
    font-size: 1.5rem; /* Smaller title size for mobile */
  }
}